/.idea/
*.bak
/target/
.classpath

error.log
src/test/resources/alloy_heredoc*.als
src/test/resources/before_092623/*
src/test/resources/obm-alloy-code_2023-09-25/*
settings2.xml
src/text/*.zip
src/test/resources_10/*
src/test/resources_11/*
mw_note.txt
/src/test/resources_0103
/src/test/resources_10
/src/test/resources_11
/src/test/resources/utilities
/src/test/resources/software-abstractions-book
/src/test/resources/simple-models
/src/test/resources/puzzles
/src/test/resources/models
/src/test/resources/paper-examples
/src/test/resources/gtri_explaining_alloy
/src/test/resources/gtri_archive
/src/test/resources/algorithms
src/test/resources/error.txt
/src/test/resources/ietf-rfcs
/src/test/resources/logic
src/test/resources/LICENSE.txt
src/test/resources/README.md
src/test/obmsmttrans_2024-03-27.zip
src/test/resources.zip
/src/test/resources
